@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.bg-image {
    background-image: url('/images/background-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-font {
    font-family: 'Lobster', cursive;
    color: rgb(210, 250, 12);
}

/* css for cards */

.bg-card {
    background-color: black;
}

/* css for all button */
.button {
    width: 80%;
    border: none;
    padding: 2% 1%;
    color: white;
    font-weight: 500;
    background-color: #015196;
}

.button:hover {
    background-color: #033d6f;
}

/* section-2 css */

.calculate-button {
    width: 60%;
    border: none;
    padding: 2% 1%;
    color: white;
    font-weight: 500;
    background-color: #015196;
}

.calculate-button:hover {
    background-color: #033d6f;
}


.total-color {
    color: #FF5E19;
}

hr {
    color: white
}